# files
*.tmp
*.log
*.log
.DS_Store
*.out
*.swp
*.zip
.allure
/allure-results/
0

#folders
target
test-output

#intellij idea
.idea
*.iml
*.ipr
*.iws
.idea/*


#gedit
*.*~
\.classpath

\.settings/org\.eclipse\.jdt\.core\.prefs

\.settings/
