<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="webDriverManagerExamples.WDM_Firefox"/>
      <class name="webDriverManagerExamples.WDM_FirefoxHeadless"/>
      <class name="webDriverManagerExamples.WDM_Chrome"/>
      <class name="webDriverManagerExamples.WDM_PhantomJS"/>
      <class name="webDriverManagerExamples.WDM_ChromeHeadless"/>
      <class name="webDriverManagerExamples.WDM_Edge"/>
      <class name="webDriverManagerExamples.WDM_Opera"/>
      <class name="webDriverManagerExamples.WDM_InternetExplorer"/>
    </classes>
  </test>  <!-- Test -->
</suite><!-- Suite -->
